<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
    line-height: 30px;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px;
    background: linear-gradient(180deg, rgb(76, 0, 255), tomato), url(https://i.ibb.co/6HNxJby/bg-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
}
h2{
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    text-transform: uppercase;
}
p{
    color: #fff;
}
.content{
    z-index: 1;
}
section img{
    margin: auto;
    z-index: 1;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
=======
/*default style*/
* {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}

/* Header Style */
.offCanvasMenu {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 10px 50px;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu ul li a,
a.hireMe {
  text-transform: uppercase;
}

.showOffCanvasBtn {
  display: none;
  cursor: pointer;
}
.logo img {
  width: 150px;
}

.hireMe {
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 15px;
  display: table;
>>>>>>> 47a36f864a04c5e47655d18f7dbe1f207407ef43
}